<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.iastate.coms309.project309">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".util.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MakePrizeActivity" />



        <activity android:name=".CompanyHomeActivity" />
        <activity android:name=".CompanyRegisterActivity" />
        <activity android:name=".CompanyListActivity" />

        <activity android:name=".Notification" />
        <activity android:name=".UserHomeActivity" />

        <activity
            android:name=".EventViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".util.ListView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Register Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DevHomeActivity"
            android:label="Developer Home"
            android:screenOrientation="portrait" />

        <activity
            android:name=".QrScanner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PointShopActivity"
            android:screenOrientation="portrait" />





        <activity
            android:name=".PaypalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRMakerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QrView"
            android:screenOrientation="portrait" />

    </application>

</manifest>
